* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(28, 27, 27);

}

.container {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerAbout {
  text-align: left;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 30pt;
}

.containerProject {
  text-align: left;
  vertical-align: middle;
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-20%, 0%);
  line-height: 30pt;
}


.blue {
  color: #50727B;
  font-family: 'Verdana', sans-serif;
}


.name {
  color: rgba(199, 194, 186, 0.897);
  font-size: 550%;
  font-weight: 600;
}

.title {
  color: rgba(199, 194, 186, 0.897);
  font-size: 310%;
  font-weight: 600;
  margin-bottom: 30px;
}

.content {
  margin-top: 10px;
  font-family: 'Verdana', sans-serif;
  font-size: 140%;
  color: #50727B;
}

.content2 {
  margin-top: 10px;
  font-family: 'Verdana', sans-serif;
  font-size: 140%;
  color: #50727B;
}

.resume {
  font-family: 'Arial', sans-serif;
  color: rgb(28, 27, 27);
  font-weight: 600;
  font-size: 29px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  background-color: #50727B;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  margin-top: 25px;
}

.resume:hover {
  background-color: rgba(199, 194, 186, 0.897);
  color: rgb(28, 27, 27);
}

.bottomLeft {
  font-family: 'Arial', sans-serif;
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

a[href^="mailto:"] {
  font-family: 'Arial', sans-serif;
  color: #50727B;
  font-size: 23px;
  font-weight: 500;
  text-decoration: none;

}

.email {
  font-family: 'Arial', sans-serif;
  color: rgb(28, 27, 27);
  font-weight: 650;
  font-size: 23px;
  padding-left: 9px;
  padding-right: 8px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  background-color: #50727B;
  cursor: pointer;
  border: none;
  border-radius: 20px;

}

.email:hover {
  background-color: rgba(199, 194, 186, 0.897);
  color: rgb(28, 27, 27);
}

.bottomRight {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.image {
  color: #50727B;
  font-size: 40px;
}

.image:hover {
  color: rgba(199, 194, 186, 0.897);
}




.navMenu {
  position: absolute;
  margin-top: 17px;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.navMenu a {
  color: #78A083;
  text-decoration: none;
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 540;
  display: inline-block;
  width: 145px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: rgba(199, 194, 186, 0.897);
}

.navMenu .dot {
  position: center;
  width: 6.9px;
  height: 6.9px;
  background: #50727B;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navMenu a:nth-child(1):hover~.dot {
  -webkit-transform: translateX(68px);
  transform: translateX(68px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover~.dot {
  -webkit-transform: translateX(219px);
  transform: translateX(219px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
  -webkit-transform: translateX(368px);
  transform: translateX(368px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {
  -webkit-transform: translateX(520px);
  transform: translateX(520px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

#menuLinks {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .containerAbout {
    top: 11%;
    left: 30%;
    transform: translate(-20%, 0%);
    line-height: 30pt;
  }
}

@media only screen and (max-height: 500px) {
  .containerAbout {
    margin-top: 70px;
    left: 30%;
    transform: translate(-20%, 0%);
    line-height: 30pt;
  }
  .containerProject {
    margin-top: 50px;
    left: 30%;
    transform: translate(-20%, 0%);
    line-height: 30pt;
  }

  .title {
    text-align: center;
  }
  .container {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    margin-top: 0px;
    left: 50%;
    transform: translate(-50%, -12%);
  }
}

@media only screen and (max-width: 900px) {
  .containerAbout {
    top: 11%;
    left: 30%;
    transform: translate(-20%, 0%);
    line-height: 30pt;
  }
}

@media only screen and (max-width: 860px){
  .navMenu {
    display: none;
  }

  .navMenu .dot {
    display: none;
  }

  .name {
    color: rgba(199, 194, 186, 0.897);
    font-size: 350%;
    font-weight: 600;
  }

  .containerAbout {
    line-height: 25pt;
    top: 11%;
    left: 20%;
    transform: translate(-10%, 0%);
  }

  .title {
    text-align: center;
  }

  .content {
    margin-top: 10px;
    font-family: 'Verdana', sans-serif;
    font-size: 110%;
    color: #50727B;
  }

  .content2 {
    margin-top: 10px;
    font-family: 'Verdana', sans-serif;
    font-size: 110%;
    color: #50727B;
  }

  .resume {
    font-size: 23px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 20px;
  }

  a[href^="mailto:"] {
    font-family: 'Arial', sans-serif;
    color: #50727B;
    font-size: 16.5px;
    font-weight: 500;
    text-decoration: none;

  }

  .email {
    font-size: 16.5px;
  }

  .image {
    font-size: 30px;

  }

  .hamburger {
    display: inline-block;

    cursor: pointer;
    margin-left: 16px;
    margin-top: 8px;
    z-index: 2;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgba(199, 194, 186, 0.897);
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }




  .hamMenu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: rgba(199, 194, 186, 0.897);
    background: rgb(28, 27, 27);
    z-index: 2;
    transition: transform 0.5s ease;

  }



  .hamMenu a {
    font-family: 'Arial', sans-serif;
    color: rgba(199, 194, 186, 0.897);
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    display: center;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    margin-top: 30px;


  }

  .hamMenu a:hover {
    color: #50727B;
  }






}

@media only screen and (max-width: 600px) {
  .containerAbout {
    text-align: left;
    vertical-align: middle;
    position: absolute;
    top: 11%;
    left: 10%;
    transform: translate(-5%, 0%);
    line-height: 20pt;
  }

  .containerProject {
    text-align: left;
    vertical-align: middle;
    position: absolute;
    top: 11%;
    left: 10%;
    transform: translate(-5%, 0%);
    line-height: 20pt;
  }

}